# Sistema operacional
.DS_Store
Thumbs.db

# VS Code - configurações pessoais
.vscode/*.code-workspace

# Variáveis de ambiente e segredos
.env
.env.*
!.env.example

# Logs
*.log
logs/

# Java / Maven
target/
*.class

# Node / Angular
node_modules/
dist/

# Arquivos temporários
*.tmp
*.temp